@import "header";
body{
  font-family: 'Lato', sans-serif !important;
}
body:lang(ar){
  font-family: 'Cairo', sans-serif !important;
}
*{
  box-sizing: border-box;
}
img{
  object-fit: cover;
  object-position: center;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.active-link, .exact-active-link{
  border-bottom: 2px solid $blackColor;
  @media (max-width: 1080px) {
    border-bottom: none;
    color: #fff;

  }
}
.slide-fade-enter-active {
  transition: all .3s ease;
}

.slide-fade-leave-active {
  transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to /* .slide-fade-leave-active below version 2.1.8 */
{
  transform: translateX(10px);
  opacity: 0;
}
a{
  &:hover{
    text-decoration: none !important;
  }
}
.success-message{
  width: 300px;
  height: 60px;
  background: #c7843d;
  color: #F5F5F5;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 85px;
  left: 0;
  z-index: 2;
}
article:lang(ar){
  text-align: right;
}
.swiper-pagination-bullet-active{
  background: #c7843d !important;
}
.swiper-pagination-bullet{
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
*,*:focus,*:hover{
  outline:none !important;
}



